<div class='container'>
  <div>
    <img id='page-logo' src='assets/Fortinema-Logo.png'>
  </div>
  <div>
    <h1>FORTINEMA</h1>
  </div>
  <div id="username-label">
      <label>USERNAME</label>
  </div>
  <div>
      <input id='username'>
  </div>
  <div id="password-label">
      <label>PASSWORD</label>
  </div>
  <div>
      <input id='username'>
  </div>

  <div class='buttons'>
    <div>
      <button id="login-button" (click)='onLogin()'>LOGIN</button>
    </div>
    <div class='signup-btn-class'>
      <button id="signup-button">SIGNUP</button>
    </div>
  </div>

</div>
