<div class='container'>
    <div>
      <img id='page-logo' src='assets/Fortinema-Logo.png'>
    </div>
    <div>
      <h1>FORTINEMA</h1>
    </div>
    <form class="clr-form">
        <div class="clr-form-control">
          <label for="basic" class="clr-control-label">Basic input</label>
          <div class="clr-control-container">
            <div class="clr-input-wrapper">
              <input type="text" id="basic" placeholder="Enter value here" class="clr-input">
              <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <span class="clr-subtext">Helper Text</span>
          </div>
        </div>
      </form>
    <!-- <div id="username-label">
        <label>USERNAME</label>
    </div>
    <div>
        <input id='username'>
    </div>
    <div id="password-label">
        <label>PASSWORD</label>
    </div>
    <div>
        <input id='username'>
    </div> -->

    <div class='buttons'>
      <div>
        <button id="login-button" (click)='onLogin()'>LOGIN</button>
      </div>
      <div class='signup-btn-class'>
        <button id="signup-button">SIGNUP</button>
      </div>
    </div>

  </div>

